*{
	margin:  0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}
.logo{
	margin:  10px;
	padding: 10px;
}
.navbar{
    background-color: 	#5F9EA0;
    border:transparent;
    font-weight: bold;
}

a{
	margin-top: 20px;
	color: white !important; 
	border-radius: 20px;
	border-color: white;
}
a:hover{
    
}
h1{
	color: white;
	padding: 50px;
}

h1{
	color: white;
	padding: 50px;
}
.btn{
    background-color:  #ADADAD;
    color: white;
}

.cabeza{
	background: url(../img/menu_6.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.centrito{
	padding-top: 150px;
}

.text-center{
	font-weight: bold;
	color: black;
}

i{
	border-radius: 50%;
    border-radius: 50%;
    border-bottom-style: black;
    border: 1px solid black;
    padding: 2px;
}

.tercera{
	background: url(../img/menu_4.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
}
